<ion-view cache-view="false" title="Búscar Ruta" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="bScarRuta-list4" class=" ">
            <ion-item class="item-divider " id="bScarRuta-list-item-divider1">Hoy</ion-item>
            <ion-item id="bScarRuta-list-item2" class="  ">Salitre - Chicó
                <span class="item-note">8:00am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item3" class="  ">Cedritos - Centro
                <span class="item-note">8:15am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item4" class="  ">Suba - Santa Fé
                <span class="item-note">8:30am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item10" class="  ">Campiña - Aeropuerto
                <span class="item-note">8:30am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item11" class="  ">Chapinero Alto - Unicentro
                <span class="item-note">8:30am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item12" class="  ">La Cabrera - U. Los Andes
                <span class="item-note">8:30am</span>
            </ion-item>
            <ion-item class="item-divider " id="bScarRuta-list-item-divider2">Mañana</ion-item>
            <ion-item id="bScarRuta-list-item14" class="  ">Salitre - Chicó
                <span class="item-note">8:30am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item17" class="  ">Salitre - Chicó
                <span class="item-note">8:30am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item18" class="  ">Salitre - Chicó
                <span class="item-note">8:30am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item15" class="  ">Salitre - Chicó
                <span class="item-note">8:30am</span>
            </ion-item>
            <ion-item id="bScarRuta-list-item16" class="  ">Salitre - Chicó
                <span class="item-note">8:30am</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>