<ion-view cache-view="false" title="Configuración" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="configuraciN-button-bar6" class=" button-bar ">
            <button id="configuraciN-button23" class=" button button-stable  button-block icon ion-android-camera "></button>
            <button id="configuraciN-button25" class=" button button-stable  button-block icon ion-android-search "></button>
        </div>
        <form id="configuraciN-form7" class="list ">
            <label class="item item-input " id="configuraciN-input14">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="configuraciN-input15">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="configuraciN-input16">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 46px;"></div>
            <a ui-sref="registrarVehCulo" id="configuraciN-button26" class=" button button-positive button-small button-clear icon-right ion-android-add ">Crear Vehículo</a>
            <div class="spacer" style="width: 300px; height: 46px;"></div>
            <div id="configuraciN-button-bar7" class=" button-bar "></div>
            <div id="configuraciN-button-bar8" class=" button-bar ">
                <button id="configuraciN-button32" class=" button button-positive  button-block ">Guardar</button>
            </div>
        </form>
    </ion-content>
</ion-view>