<ion-view cache-view="false" title="Crear Ruta" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="crearRuta-form8" class="list ">
            <label class="item item-input " id="crearRuta-input17">
                <span class="input-label">Origen</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="crearRuta-input18">
                <span class="input-label">Destino</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="crearRuta-input19">
                <span class="input-label">Fecha</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="crearRuta-input20">
                <span class="input-label">Hora Salida</span>
                <input type="time" placeholder="">
            </label>
        </form>
        <div id="crearRuta-button-bar9" class=" button-bar ">
            <a ng-click="publish()" id="crearRuta-button35" class=" button button-positive  button-block ">Publicar Ruta</a>
        </div>
    </ion-content>
</ion-view>