<ion-view title="Perfil" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="perfil-button-bar2" class=" button-bar ">
            <button id="perfil-button10" class=" button button-stable  button-block icon ion-android-camera "></button>
            <button id="perfil-button12" class=" button button-stable  button-block icon ion-android-search "></button>
        </div>
        <form id="perfil-form5" class="list ">
            <label class="item item-input " id="perfil-input8">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="perfil-input9">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 37px;"></div>
            <div id="perfil-button-bar5" class=" button-bar ">
                <a ui-sref="registrarVehCulo" id="perfil-button22" class=" button button-positive  button-block icon-right ion-chevron-right ">Continuar</a>
            </div>
        </form>
    </ion-content>
</ion-view>