<ion-view title="Registrarse" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="registrarse-button-bar1" class=" button-bar "></div>
        <form id="registrarse-form2" class="list ">
            <ion-list id="registrarse-list2" class=" ">
                <label class="item item-input " id="registrarse-input3">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="registrarse-input4">
                    <span class="input-label">Móvil</span>
                    <input type="tel" placeholder="">
                </label>
                <label class="item item-input " id="registrarse-input5">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
        </form>
        <div id="registrarse-button-bar4" class=" button-bar ">
            <a ui-sref="wheels" id="registrarse-button17" class=" button button-stable  button-block ">Cancelar</a>
            <a ui-sref="perfil" id="registrarse-button19" class=" button button-positive  button-block icon-right ion-chevron-right ">Continuar</a>
        </div>
    </ion-content>
</ion-view>