<ion-view title="Registrar Vehículo" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="registrarVehCulo-form6" class="list ">
            <label class="item item-select " id="registrarVehCulo-select1">
                <span class="input-label">Marca</span>
                <select>
                    <option>Seleccione</option>
                    <option>Alfa Romeo</option>
                    <option>Audi</option>
                    <option>BMW</option>
                    <option>Chevrolet</option>
                    <option>Citroen</option>
                    <option>Fiat</option>
                    <option>Ford</option>
                    <option>Honda</option>
                    <option>Hyunday</option>
                    <option>Jaguar</option>
                    <option>Kia</option>
                    <option>Maserati</option>
                    <option>Mazda</option>
                    <option>Mercedes Benz</option>
                    <option>Mini</option>
                    <option>Mitsubishi</option>
                    <option>Nissan</option>
                    <option>Peugeot</option>
                    <option>Porsche</option>
                    <option>Renault</option>
                    <option>Seat</option>
                    <option>Skoda</option>
                    <option>Subaru</option>
                    <option>Suzuki</option>
                    <option>Toyota</option>
                    <option>Volkswagen</option>
                    <option>Volvo</option>
                </select>
            </label>
            <label class="item item-select " id="registrarVehCulo-select2">
                <span class="input-label">Modelo</span>
                <select>
                    <option>Seleccione</option>
                    <option>Alfa Romeo</option>
                    <option>Audi</option>
                    <option>BMW</option>
                    <option>Chevrolet</option>
                    <option>Citroen</option>
                    <option>Fiat</option>
                    <option>Ford</option>
                    <option>Honda</option>
                    <option>Hyunday</option>
                    <option>Jaguar</option>
                    <option>Kia</option>
                    <option>Maserati</option>
                    <option>Mazda</option>
                    <option>Mercedes Benz</option>
                    <option>Mini</option>
                    <option>Mitsubishi</option>
                    <option>Nissan</option>
                    <option>Peugeot</option>
                    <option>Porsche</option>
                    <option>Renault</option>
                    <option>Seat</option>
                    <option>Skoda</option>
                    <option>Subaru</option>
                    <option>Suzuki</option>
                    <option>Toyota</option>
                    <option>Volkswagen</option>
                    <option>Volvo</option>
                </select>
            </label>
            <label class="item item-input " id="registrarVehCulo-input11">
                <span class="input-label">Placa</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="registrarVehCulo-input12">
                <span class="input-label">Pasajeros</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-select " id="registrarVehCulo-select3">
                <span class="input-label">Pico y Placa</span>
                <select>
                    <option>Seleccione</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <div id="registrarVehCulo-button-bar3" class=" button-bar ">
            <a ui-sref="dashboard.rutaSabana_tab1" id="registrarVehCulo-button16" class=" button button-positive  button-block ">Guardar</a>
        </div>
        <a ui-sref="dashboard.rutaSabana_tab1" id="registrarVehCulo-button7" class=" button button-positive  button-block button-clear ">Saltar Paso</a>
    </ion-content>
</ion-view>