<ion-view title="Wheels" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h1 id="wheels-heading1" style="color:#000000;text-align:center;" class=" ">Wheels</h1>
        <div class="">
            <img src="img/QcrjdV0iRlS8PRcNeQuy_unnamed.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="login" id="wheels-button1" class=" button button-positive  button-block ">Log in</a>
        <a ui-sref="registrarse" id="wheels-button2" class=" button button-positive  button-block ">Registrarse</a>
    </ion-content>
</ion-view>